openapi: 3.0.0
info:
  title: Question Answer API
  description: An API to answer your questions based in provided information.
  version: 1.0.0
  
paths:
  /:
    get:
      operationId: src.api.main.welcome
      summary: Returns a welcome message.
      description: Displays welcome message
      responses:
        '200':    # status code
          description: A JSON with Welcome message
          content:
            application/json:
              schema: 
                type: object
                properties:
                  message:
                    type: string
                    example: Welcome to Drone API
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not found
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not acceptable
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests
        'default':
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unexpected error
  /health:
    get:
      operationId: src.api.main.health
      summary: Returns a health status.
      description: Displays health status
      responses:
        '200':    # status code
          description: A JSON with health status
          content:
            application/json:
              schema: 
                type: object
                properties:
                  status:
                    type: string
                    example: OK
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not found
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Not acceptable
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Too many requests
        'default':
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unexpected error
